.DS_Store
._*

.venv/
venv/
__pycache__/
*.pyc

dataset/
artifacts/data/*
artifacts/models/*
artifacts/reports/*
artifacts/training/*

!artifacts/.gitkeep
!artifacts/data/.gitkeep
!artifacts/models/.gitkeep
!artifacts/reports/.gitkeep
!artifacts/training/.gitkeep
